version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "Europe/Copenhagen"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
